<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Easychat | Login</title>
    <link rel="stylesheet" href="./index.css" type="text/css" />
    <link rel="stylesheet" href="./../../styles/global.css" type="text/css" />
    <link rel="stylesheet" href="./../../styles/buttons.css" type="text/css" />
    <link rel="stylesheet" href="./../../styles/inputs.css" type="text/css" />
    <link rel="stylesheet" href="./../../styles/modal.css" type="text/css" />
    <link rel="stylesheet" href="./../../styles/forms.css" type="text/css" />
    <script src="./index.js" type="text/javascript" defer></script>
  </head>
  <body class="content-container">
    <main class="form-external-container">
      <div class="form-container">
        <article class="text-container">
          <h2 class="form-title">Login</h2>
          <p class="form-description">
            If you are registered, fill the info bellow
          </p>
        </article>
        <form class="form" action="/login" method="POST">
          <fieldset class="input-container">
            <label class="input-label" for="username">Username</label>
            <input class="input-2" id="username" name="username" type="text" class="" placeholder="Type your username..." />
          </fieldset>
          <fieldset class="input-container">
            <label class="input-label" for="password">Password</label>
            <input class="input-2" id="password" name="password" type="text" class="" placeholder="Type your password..." />
          </fieldset>
          <div class="button-group">
            <input class="primary-button" type="submit" value="Login" />
            <a href="/views/createUser" class="terciary-button" type="button">Register</a>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
