.outer-container {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 725px;
  max-height: 730px;
  position: relative;
  width: 100%;
}

.messages-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.message {
  border-radius: var(--radius-pill);
  color: var(--message-text-color);
  max-width: 530px;
  padding: 20px;
  width: fit-content;
}

.message p {
  width: fit-content;
}

.current-user-message {
  align-self: flex-end;
  background-color: var(--current-user-message-background);
}

.other-user-message {
  background-color: var(--other-user-message-background);
}

.input-external-wrapper {
  background-color: var(--background-color);
  bottom: 0;
  padding: 20px;
  position: sticky;
}

.input-container {
  background-color: var(--current-user-message-background);
  border-radius: var(--radius-pill);
  display: flex;
  gap: 10px;
  padding: 10px 20px;
}

.message-input {
  background-color: transparent;
  border: none;
  caret-color: var(--message-text-color);
  color: var(--message-text-color);
  flex-grow: 1;
}

.message-input:focus {
  border: none;
}

.send-message-button {
  background-color: transparent;
}

.send-message-button:hover {
  opacity: 50%;
}