.content-container {
  align-items: center;
  background-color: var(--color-grey-200);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form-external-container {
  align-items: center;
  background-color: var(--color-grey-300);
  border-radius: var(--radius-square);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 50px 30px;
  width: 100%;
}

.form-container {
  max-width: 300px;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.form-title {
  font-size: var(--font-size-title-big);
}

.form-description {
  color: var(--color-grey-100);
  font-size: var(--font-size-text-normal);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-2 {
  max-width: none;
}